@import "tailwindcss";

@font-face {
  font-family: 'vazir';
  src: url('../../public/Vazir.ttf');
  font-style: normal;
  font-weight: normal;
}

*{
  font-family: 'vazir';
}
body{
  direction: rtl;
}


.bg-log{
  background-image: url(../../public/images/bg-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}